@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700;900&display=swap');

body {
  background-color: #62311F;
  margin: 0;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}

.flex-container {
  display: flex;
  min-height: 100vh;
}

@keyframes slideBackground {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.image-container {
  position: relative;
  width: 60%;
  height: 100vh;
  overflow: hidden; /* Ensure the container hides overflow */
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../images/authentication/background-new.png'), url('../../images/authentication/background-new.png');
  background-size: cover, cover; /* Ensure each image covers the container */
  background-repeat: no-repeat; /* No need to repeat the image */
  animation: slideBackground 70s linear infinite;
}

@keyframes slideBackground {
  0% {
    background-position: 0 0, calc(100% - var(--div-width)) 0; /* Start with the first image fully visible */
  }
  100% {
    background-position: -100% 0, calc(-1 * var(--div-width)) 0; /* Move the background images to the left */
  }
}

.logo {
  position: absolute;
  top: 40px; /* Adjust as needed to position the logo */
  left: 50px; /* Adjust as needed to position the logo */
  width: 140px; /* Adjust the size of the logo */
  height: auto; /* Maintain aspect ratio */
  z-index: 1; /* Ensure it sits above the background */
}

/* Adjustments for smaller screens */
@media (max-width: 500px) {
  .user-label,
  .pass-label,
  .signup-label,
  .fullname-label,
  .email-label,
  .phone-label,
  .signuppass-label,
  .fp-label,
  .back-label,
  .pass-rplabel,
  .confirm-rplabel,
  .resetback-label {
    width: 100%;
    text-align: left;
    white-space: normal;
  }
  .signup-title,
  .login-title,
  .forgotpass-title,
  .resetpass-title,
  .signup-label,
  .forgotpass-label,
  .login-label {
    white-space: normal;
    text-align: center;
  }
}

.main-content {
  position: relative;
  width: 45%;
  background-color: #122617;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
}

/* Login Page */
.user-label,
.name-login,
.pass-label,
.forgotpass-label,
.signup-label,
.login-label {
  position: absolute;
  top: 26%;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  font-size: 0.8rem;
  color: #FAF9EB;
}

.signup-label,
.login-label {
  top: 87%;
}

.login-title {
  position: absolute;
  top: 12%;
  left: 52%;
  transform: translateX(-50%) translateY(-50%); /* Center horizontally and vertically */
  font-size: 1.5rem;
  font-weight: 900;
  color: #DBC45C;
}

.subtitle-login {
  position: absolute;
  top: 17%;
  left: 52%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 0.7rem;
  font-weight: 300;
  font-style: italic;
  color: #FAF9EB;
}

.name-login { /*Email or phone number*/
  position: absolute;
  top: 23%;
  left: 36%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 0.8rem;
  color: #FAF9EB;
  font-weight: 500;
}

.name_text-field {
  position: absolute;
  top: 28%;
  left: 53%;
  transform: translateX(-50%) translateY(-50%);
  width: 55%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px;
  color: #938D6B;
  border: 1px solid #DFD9C3;
  background-color: #DFD9C3;
}

.name_text-field:focus {
  border-color: #B6A248;
  outline: none;
}

.user-label { /*Email or phone number*/
  position: absolute;
  top: 33%;
  left: 36%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 0.8rem;
  color: #FAF9EB;
  font-weight: 500;
}

.user_text-field {
  position: absolute;
  top: 38%;
  left: 53%;
  transform: translateX(-50%) translateY(-50%);
  width: 55%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px;
  color: #938D6B;
  border: 1px solid #DFD9C3;
  background-color: #DFD9C3;
}

.user_text-field:focus {
  border-color: #B6A248;
  outline: none;
}

.pass-label { /*Password*/
  position: absolute;
  top: 43%;
  left: 36%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 0.8rem;
  color: #FAF9EB;
  font-weight: 500;
}

.pass_text-field {
  position: absolute;
  top: 48%;
  left: 53%;
  transform: translateX(-50%) translateY(-50%);
  width: 55%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px;
  color: #938D6B;
  border: 1px solid #DFD9C3;
  background-color: #DFD9C3;
}

.pass_text-field:focus {
  border-color: #B6A248;
  outline: none;
}

.name_text-field::placeholder,
.user_text-field::placeholder,
.pass_text-field::placeholder{
  font-style: italic; /* Make the placeholder text italic */
  color: #938D6B;
}

.name_text-field:not(:placeholder-shown)::placeholder,
.user_text-field:not(:placeholder-shown)::placeholder,
.pass_text-field:not(:placeholder-shown)::placeholder{
  font-style: normal; /* Remove italic style when focused or contains text */
  font-weight: 600;
}

.login-button {
  position: absolute;
  top: 57%;
  left: 53%;
  transform: translateX(-50%) translateY(-50%);
  width: 55%;
  padding: 10px;
  margin-top: 10px;
  color: #FAF9EB;
  border: 1px solid #848D4C;
  background-color: #848D4C;
  overflow: hidden;
  font-weight: 600;
}

.login-button:hover {
  background-color: #B6A248;
}

.alternative-login {
  display: flex;
  position: absolute;
  top: 62%;
  left: 53%;
  transform: translateX(-50%) translateY(-50%);
  align-items: center;
  width: 60%;
  margin: 20px 0;
}

.alternative-login .line {
  flex-grow: 1;
  height: 1px;
  background-color: #FAF9EB;
  margin: 0 10px;
}

.separator-text { /*or log in with*/
  color: #FAF9EB;
  font-size: 12px;
}

.button-container {
  display: flex;
  position: absolute;
  top: 72%;
  left: 54%;
  transform: translateX(-50%) translateY(-50%);
}

.icon-button {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  background-color: #FAF9EB;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.icon-button:last-child { /*align the alternatives side by side if there's more than one*/
  margin-right: 0;
}

.icon-button:hover {
  background-color: #DFD9C3;
}

.forgotpass-label {
  position: absolute;
  top: 77%;
  left: 54%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 0.7rem;
  font-weight: 400;
  color: #FAF9EB;
}

.signup-label {
  position: absolute;
  top: 85%;
  left: 49%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 0.7rem;
  font-weight: 400;
  color: #FAF9EB;
}

@media (max-width: 500px) {
  .name-login{left: 50%;}
  .user_text-field{top: 38%;}
  .forgotpass-label{left: 55%;}
  .user-label{left: 50%;}
  .pass-label{left: 50%;}
  .signup-label{left: 54%;}
}
/* Register Page */
.fullname-label,
.email-label,
.signuppass-label {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translateX(-50%);
  width: 120px; /* Adjust width as needed */
  font-size: 0.8rem;
  color: #FAF9EB;
}

.subtitle-label,
.email-label,
.signuppass-label {
  top: 32%;
}

.signup-title {
  position: absolute;
  top: 11%;
  left: 52%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 1.5rem;
  font-weight: 900;
  color: #DBC45C;
}

.subtitle-label {
  position: absolute;
  top: 16%;
  left: 52%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 0.7rem;
  font-weight: 300;
  font-style: italic;
  color: #FAF9EB;
}

.fullname-label {
  position: absolute;
  top: 22%;
  left: 37%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 0.8rem;
  font-weight: 500;
  color: #FAF9EB;
}

.fullname_text-field {
  position: absolute;
  top: 27%;
  left: 53%;
  transform: translateX(-50%) translateY(-50%);
  width: 55%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px;
  color: #938D6B;
  border: 1px solid #DFD9C3;
  background-color: #DFD9C3;
}

.fullname_text-field:focus {
  border-color: #B6A248;
  outline: none;
}

.email-label {
  position: absolute;
  top: 32%;
  left: 37%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 0.8rem;
  font-weight: 500;
  color: #FAF9EB;
}

.email_text-field {
  position: absolute;
  top: 37%;
  left: 53%;
  transform: translateX(-50%) translateY(-50%);
  width: 55%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px;
  color: #938D6B;
  border: 1px solid #DFD9C3;
  background-color: #DFD9C3;
}

.email_text-field:focus {
  border-color: #B6A248;
  outline: none;
}

.signuppass-label {
  position: absolute;
  top: 42%;
  left: 37%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 0.8rem;
  font-weight: 500;
  color: #FAF9EB;
}

.signuppass_text-field {
  position: absolute;
  top: 47%;
  left: 53%;
  transform: translateX(-50%) translateY(-50%);
  width: 55%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px;
  color: #938D6B;
  border: 1px solid #DFD9C3;
  background-color: #DFD9C3;
}

.signuppass_text-field:focus {
  border-color: #B6A248;
  outline: none;
}

.fullname_text-field::placeholder,
.email_text-field::placeholder,
.signuppass_text-field::placeholder {
  font-style: italic; /* Make the placeholder text italic */
  color: #938D6B;
}

.fullname_text-field:not(:placeholder-shown)::placeholder,
.email_text-field:not(:placeholder-shown)::placeholder,
.signuppass_text-field:not(:placeholder-shown)::placeholder {
  font-style: normal; /* Remove italic style when focused or contains text */
  font-weight: 600;
}

.signup-button {
  position: absolute;
  top: 55%;
  left: 53%;
  transform: translateX(-50%) translateY(-50%);
  width: 55%;
  padding: 10px;
  margin-top: 10px;
  color: #FAF9EB;
  border: 1px solid #848D4C;
  background-color: #848D4C;
  overflow: hidden;
  font-weight: 600;
}

.signup-button:hover {
  background-color: #B6A248;
}

.alternative-signup {
  display: flex;
  position: absolute;
  top: 65%;
  left: 53%;
  transform: translateX(-50%) translateY(-50%);
  align-items: center;
  width: 60%;
  margin: 20px 0;
}

.alternative-signup .line {
  flex-grow: 1;
  height: 1px;
  background-color: #FAF9EB;
  margin: 0 10px;
}

.signupbtn-container {
  /*Container for alternatives*/
  display: flex;
  position: absolute;
  top: 75%;
  left: 54%;
  transform: translateX(-50%) translateY(-50%);
}

.login-label {
  position: absolute;
  top: 87%;
  left: 48%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 0.7rem;
  font-weight: 400;
  color: #FAF9EB;
}

@media (max-width: 500px) {
  .signup-title {
    top: 11%;
  }

  .email_text-field {
    top: 38%;
  }

  .fullname-label {
    left: 50%;
  }

  .email-label {
    left: 50%;
  }

  .subtitle-label {
    top: 17%;
  }

  .signuppass-label {
    left: 50%;
  }

  .login-label {
    left: 50%;
  }
}


/* Forgot Password Page */
.desc-label,
.fp-label,
.back-label,
.forgotpass-title {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translateX(-50%);
  width: 120px; /* Adjust width as needed */
  font-size: 0.8rem;
  color: #FAF9EB;
}

.fp-label,
.back-label {
  top: 46%;
}

.forgotpass-title {
  position: absolute;
  top: 28%;
  left: 38%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 1.5rem;
  color: #DBC45C;
  font-weight: 900;
}

.desc-label {
  position: absolute;
  top: 37%;
  left: 53%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 0.8rem;
  color: #FAF9EB;
  width: 350px;
  white-space: normal;
  text-align: center;
  font-weight: 300;
}

.fp-label { /*Email address or phone number*/
  position: absolute;
  top: 46%;
  left: 36%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 0.8rem;
  color: #FAF9EB;
  font-weight: 500;
}

.fp_text-field {
  position: absolute;
  top: 51%;
  left: 53%;
  transform: translateX(-50%) translateY(-50%);
  width: 55%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px;
  color: #938D6B;
  border: 1px solid #DFD9C3;
  background-color: #DFD9C3;
}

.fp_text-field:focus {
  border-color: #B6A248;
  outline: none;
}

.fp_text-field::placeholder{
  font-style: italic; /* Make the placeholder text italic */
  color: #938D6B;
}

.fp_text-field:not(:placeholder-shown)::placeholder{
  font-style: normal; /* Remove italic style when focused or contains text */
  font-weight: 600;
}

.reset-button {
  position: absolute;
  top: 60%;
  left: 53%;
  transform: translateX(-50%) translateY(-50%);
  width: 55%;
  padding: 10px;
  margin-top: 10px;
  color: #FAF9EB;
  border: 1px solid #848D4C;
  background-color: #848D4C;
  overflow: hidden;
  font-weight: 600;
}

.reset-button:hover {
  background-color: #B6A248;
}

.back-label { /*Back to login*/
  position: absolute;
  top: 65%;
  left: 59%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 0.7rem;
  color: #FAF9EB;
}

@media (max-width: 920px) {
  .desc-label {
    width: 300px;
  }
  .forgotpass-title{
    white-space: normal;
    text-align: center;
    top: 25%;
    left: 50%;
  }
}

@media (max-width: 760px) {
  .desc-label {
    width: 250px;
  }
  .back-label{left: 60%;}
}

@media (max-width: 630px) {
  .desc-label {
    width: 200px;
  }
  .back-label{left: 63%;}
}

@media (max-width: 500px) {
  .desc-label{width: 150px;}
  .forgotpass-title{top: 20%;}
  .fp-label{
    left: 50%;
    top: 48%;
  }
  .fp_text-field{top: 54%;}
  .reset-button{top: 62%;}
  .back-label{top: 67%; left: 63%;}
}


/* Reset Pass Page */
.pass-rplabel,
.confirm-rplabel,
.resetback-label,
.resetpass-title {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translateX(-50%);
  width: 120px; /* Adjust width as needed */
  font-size: 0.8rem;
  color: #FAF9EB;
}

.confirm-rplabel,
.resetback-label {
  top: 47%;
}

.resetpass-title {
  position: absolute;
  top: 28%;
  left: 46%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 1.5rem;
  color: #DBC45C;
  font-weight: 900;
}

.pass-rplabel {
  position: absolute;
  top: 37%;
  left: 36%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 0.8rem;
  color: #FAF9EB;
  font-weight: 500;
}

.pass_rptext-field {
  position: absolute;
  top: 42%;
  left: 53%;
  transform: translateX(-50%) translateY(-50%);
  width: 55%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px;
  color: #938D6B;
  border: 1px solid #DFD9C3;
  background-color: #DFD9C3;
}

.pass_rptext-field:focus {
  border-color: #B6A248;
  outline: none;
}

.confirm-rplabel {
  position: absolute;
  top: 47%;
  left: 36%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 0.8rem;
  color: #FAF9EB;
  font-weight: 500;
}

.confirm_rptext-field {
  position: absolute;
  top: 52%;
  left: 53%;
  transform: translateX(-50%) translateY(-50%);
  width: 55%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px;
  color: #938D6B;
  border: 1px solid #DFD9C3;
  background-color: #DFD9C3;
}

.pass_rptext-field:focus,
.confirm_rptext-field:focus {
  border-color: #B6A248;
  outline: none;
}

.pass_rptext-field::placeholder,
.confirm_rptext-field::placeholder{
  font-style: italic; /* Make the placeholder text italic */
  color: #938D6B;
}

.confirm_rptext-field:not(:placeholder-shown)::placeholder{
  font-style: normal; /* Remove italic style when focused or contains text */
  font-weight: 600;
}

.resetpass-button {
  position: absolute;
  top: 61%;
  left: 53%;
  transform: translateX(-50%) translateY(-50%);
  width: 55%;
  padding: 10px;
  margin-top: 10px;
  color: #FAF9EB;
  border: 1px solid #848D4C;
  background-color: #848D4C;
  overflow: hidden;
  font-weight: 600;
}

.resetpass-button:hover {
  background-color: #B6A248;
}

.resetback-label { /*Back to login*/
  position: absolute;
  top: 66%;
  left: 58%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 0.7rem;
  color: #FAF9EB;
}

@media (max-width: 550px) {
  .resetpass-title{
    white-space: normal;
    text-align: center;
  }
  .pass-rplabel{left: 50%;}
  .confirm-rplabel{left: 50%;}
  .resetback-label{left: 62%;}
}

/* Role Page */
.desc-role,
.position-label,
.role-title {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translateX(-50%);
  width: 120px; /* Adjust width as needed */
  font-size: 0.8rem;
  color: #FAF9EB;
}

.position-label {
  top: 46%;
}

.role-title {
  position: absolute;
  top: 34%;
  left: 58%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 1.5rem;
  color: #DBC45C;
  font-weight: 900;
}

.desc-role {
  position: absolute;
  top: 39%;
  left: 53%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 0.8rem;
  color: #FAF9EB;
  width: 350px;
  white-space: normal;
  text-align: center;
  font-weight: 300;
}

.position-label { /*Email address or phone number*/
  position: absolute;
  top: 46%;
  left: 36%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 0.8rem;
  color: #FAF9EB;
  font-weight: 500;
}

.position_text-field {
  position: absolute;
  top: 51%;
  left: 53%;
  transform: translateX(-50%) translateY(-50%);
  width: 60%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px;
  color: #938D6B;
  border: 1px solid #DFD9C3;
  background-color: #DFD9C3;
}

.position_text-field:focus {
  border-color: #B6A248;
  outline: none;
}

.position_text-field::placeholder{
  font-style: italic; /* Make the placeholder text italic */
  color: #938D6B;
}

.enter-button {
  position: absolute;
  top: 60%;
  left: 53%;
  transform: translateX(-50%) translateY(-50%);
  width: 55%;
  padding: 10px;
  margin-top: 10px;
  color: #FAF9EB;
  border: 1px solid #848D4C;
  background-color: #848D4C;
  overflow: hidden;
  font-weight: 600;
}

.enter-button:hover {
  background-color: #B6A248;
}

@media (max-width: 920px) {
  .desc-label {
    width: 300px;
  }
  .forgotpass-title{
    white-space: normal;
    text-align: center;
    top: 25%;
    left: 50%;
  }
}

@media (max-width: 505px) {
  .desc-role{width: 150px;}
  .role-title{left: 65%; top: 33%;}
  .position-label{
    left: 51%;
    top: 46%;
  }
  .fp_text-field{top: 54%;}
  .reset-button{top: 62%;}
  .back-label{top: 67%; left: 63%;}
}


.error-message {
  color: white;
}